  <link rel="stylesheet" href="/css/home/home.css">
  <a name="home"></a>
  <div class="jumbotron">
    <div class="container">
      <img class="profilePic" src="/images/home/profilePic.png">
      <h1>Jimmy Mona</h1>
      <p class="contact">Email: <a href="mailto:jmona789@gmail.com">jmona789@gmail.com</a></p>
      <p class="contact">Linkedin: <a href="https://www.linkedin.com/in/jamesmona" target="_blank">James Mona</a></p>
      <p class="contact">Github: <a href="https://github.com/jmona789" target="_blank">jmona789</a></p>
      <p class="contact lastLink">Twitter: <a href="https://twitter.com/jmona789" target="_blank">jmona789</a></p>
      <p>Full Stack Web Developer</p>
    </div>
  </div> 
  <a name="aboutMe"></a>
  <div style="height:10px">
  </div>
  <div class="aboutMe">
    <div class="container">
      <h2>About Me</h2>
      <p>I’m originally a Rutgers graduate with a Bachelor Degree, but I’ve always loved computers and always wanted to learn coding.  Several months ago I turned that desire to learn coding into a passion for it. I started by teaching myself but I loved it so much that I decided to turn it into a career so I started attending Rutgers Coding Bootcamp. I’m most interesting in becoming a Full Stack Developer. I've helped develop several websites, and I'm looking forward to bringing my expertise to the technological department of a start up. I have worked independently and with a team on various projects. Proficiencies lie in JavaScript, HTML5, CSS, Bootstrap, jQuery and Node.js. Skilled at assimilating new programming languages as required.</p>
      <p>My previous career as a veterinary technician involves many skills that I can bring with me to web programming.  I am very detail oriented, and have experience in both working as a part of a team, and moving quickly to solve a problem.</p>
      <p>Here is some more information on my background:</p>
      <ul>
        <li>I have always had a keen interest in technology and the way things work. This interest manifested itself from an early age in everything from video games to taking things apart (much to the consternation of my parents). Throughout school, science class /labs and science fairs were my favorites and were areas in which I excelled. </li>
        <li>I am a team player. In any job I held I have had a positive experience as part of a working group. Not only can I bring new ideas into the mix but I can listen and learn from others. </li>
        <li>I have a "stick-to-itiveness" personality. I have spent long hours with a fervent focus to bring various jobs to completion. </li>
      </ul>
    </div>
  </div>
   <a name="projects"></a>
   <div style="height:15px">
  </div>
    <div class="projects">
      <div class="container">
        <h2>My Work</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <a href="https://yelpru.herokuapp.com/" target="_blank">
                <img src="/images/home/yelpruThumbnail.png" />
              </a>
              <p>YelpRU is a Yelp clone for the Rutgers University Area.  It is a free site, all users can see businessesm only registered users can add and review businesses.  Built using node.js and a SQL database.  For more info and guest login credentials see the <a href="https://github.com/jmona789/placesatrutgers" target="_blank">github repo for this project</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail">
              <a ui-sref="youtube">
                <img src="/images/home/youtubeAndChillThumbnail.png" />
              </a>
              <p>YouTube and Chill is a site developed as a group project by me and two classmates of mine where users can watch pick YouTube video to watch with other users and chat about them in real time. It was built using firebase and the YouTube API. For more info and guest login credentials see the <a href="https://github.com/jmona789/youtube-n-chill" target="_blank">github repo for this project</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://jobbies-app.herokuapp.com" target="_blank">
                <img src="/images/home/jobbiesThumbnail.png" />
              </a>
              <p>Jobbies a job board for little jobs, is a site currently in development by me and one other classmate. Build using the MEAN stack. For more info and guest login credentials see the <a href="https://github.com/jmona789/jobbies" target="_blank">github repo for this project</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <a ui-sref="tweet">
                <img src="/images/home/tweetThisArticleThumbnail.png" />
              </a>
              <p>A site demostrating a script I wrote that allows a reader to Tweet a quote from an article along with a link to the article. <a href="https://github.com/jmona789/Tweet-This-Article" target="_blank">Github repo for this project</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
            <a ui-sref="rps">
              <img src="/images/home/rpsThumbnail.png" />
            </a>
            <p>A simple website I developed as a project for Rutgers Coding Bootcamp with a rock paper scissors game. <a href="https://github.com/jmona789/Rock-Paper-Scissors" target="_blank">Github repo for this project</a></p>
            </div>
          </div>
        </div>
        <div class="row" ng-controller="githubController">
          <div class="col-md-5">
            <div class="panel repoPanel list-group">
              <p class="list-group-item">My Recent Github Repos</p>
              <div ng-repeat="link in links">
                <a ng-click="buildCommits(link.commitsApiUrl)" class="list-group-item">
                  {{link.full_name}}
                </a>
              </div>
            </div>
          </div>        
          <div class="col-md-7">
            <div class="panel commitPanel">
              <table class="table">
                <thead>
                  <th>sha</th>
                  <th>Author</th>
                  <th>Message</th>
                  <th>Date</th>
                </thead>
                <tbody>
                  <tr> (Click a repo to view its commits)</tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a name="skills"></a>
  <div style="height:15px">
  </div>
  <div class="skills">
    <div class="container">
      <h3>Skills</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">HTML 5</h4>
            <img class="thumb" src="/images/home/html.png">
          </div>
        </div>
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">CSS 3</h4>
            <img class="thumb" src="/images/home/css.png">
          </div>
        </div>
        <div class="skill">
          <div class="col-md-4">
            <h4 class="skillName">Javascript</h4>
            <img class="thumb" src="/images/home/js.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">jQuery</h4>
            <img class="thumb" src="/images/home/jq.gif">
          </div>
        </div>
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">node.js</h4>
            <img class="thumb" src="/images/home/nodejs.png">
          </div>
        </div>
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">MySQL</h4>
            <img class="thumb" src="/images/home/mysql.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">MongoDB</h4>
            <img class="thumb" src="/images/home/mongodb.png">
          </div>
        </div>
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">AngularJS</h4>
            <img class="thumb" src="/images/home/angular.png">
          </div>
        </div>
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">MEAN Stack</h4>
            <img class="thumb" src="/images/home/mean.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">AJAX</h4>
            <img class="thumb" src="/images/home/ajax.png">
          </div>
        </div>
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">JSON</h4>
            <img class="thumb" src="/images/home/json.png">
          </div>
        </div>
        <div class="col-md-4">
          <div class="skill">
            <h4 class="skillName">APIs</h4>
            <img class="thumb" src="/images/home/api.png">
          </div>
        </div>
      </div>
    </div>
  </div>